{% assign pages = site.html_pages | sort: 'weight' %}
{% assign home_position = include.home_position | default: 'top' %}
<ul>
	{% if home_position == 'top' and page.url == '/' %}
	<li class="current">
		Home
	</li>
	{% elsif home_position == 'top' %}
	<li>
		<a href="{{ '/' | relative_url }}">Home</a>
	</li>
	{% endif %}
	{% for p in pages %}
	{% unless p.weight == 0 %}
	{% if p.url == page.url %}
	<li class="current">
		{{ p.navigation }}
	</li>
	{% else %}
	<li>
		<a href="{{ p.url | relative_url }}">{{ p.navigation }}</a>
	</li>
	{% endif %}
	{% endunless %}
	{% endfor %}
	{% if home_position == 'bottom' and page.url =='/' %}
	<li class="current">
		Home
	</li>
	{% elsif home_position == 'bottom' %}
	<li>
		<a href="{{ '/' | relative_url }}">Home</a>
	</li>
	{% endif %}
</ul>
