$nav-folder-menu-font-color: slategray !default;
$nav-folder-menu-hover-bg-color: slategray !default;
$nav-folder-menu-hover-font-color: white !default;
$nav-folder-menu-dot-color: slategray !default;
$nav-folder-menu-current-font-color: darkslategray !default;
$nav-folder-line-height: 16px * 3;
$nav-folder-dot-line-size: 1px;
$nav-folder-border-style: $nav-folder-dot-line-size dotted $nav-folder-menu-dot-color;

.nav-folder-menu {
	padding: 1rem 0 2rem 0;
	a {
		display: block;
		width: 100%;
		color: $nav-folder-menu-font-color;
		&:hover,
		&:active {
			background-color: $nav-folder-menu-hover-bg-color;
			border-radius: 2px;
			color: $nav-folder-menu-hover-font-color;
			text-decoration: none;
		}
	}
	ul {
		display: inline-block;
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0 0 0 2rem;
		line-height: $nav-folder-line-height;
	}
	li {
		position: relative;
		padding-left: 0.2rem;
		font-size: 1.1rem;
		&.current {
			color: $nav-folder-menu-current-font-color;
			font-weight: 500;
		}
		&.current:hover {
			background: none;
			cursor: default;
		}
		&:hover {
			background-color: $nav-folder-menu-hover-bg-color;
			border-radius: 2px;
		}
		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: -15px;
			display: block;
			width: 11px;
			height: 25px;
			border-bottom: $nav-folder-border-style;
			border-left: $nav-folder-border-style;
		}
		&:after {
			content: '';
			position: absolute;
			left: -15px;
			bottom: 2px;
			display: block;
			height: 21px;
			border-left: $nav-folder-border-style;
		}
		&:first-child {
			margin: 0 0 0 -1.33rem;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
.nav-folder-menu-bottom {
	padding: 1.5rem 0;
	li {
		&:before {
			top: 16px * 1.5;
			height: 27px;
			border-top: $nav-folder-border-style;
			border-bottom: none; // override .nav-folder-menu
		}
		&:after {
			bottom: 25px;
		}
		&:first-child {
			margin: 0;
			&:before {
				display: block; // override .nav-folder-menu
			}
		}
		&:last-child {
			margin: 0 0 0 -1.33rem;
			&:before {
				display: none;
			}
		}
	}
}
