---
---

// favored Notepad++ styles
// ========================

$npp-green: {{ site.npp_ui_green }};
$npp-orange: #e2911e;

// override Bootstrap default styles

$body-bg: $npp-green;
$theme-colors: (
	"primary": $npp-green,
	"secondary": $npp-orange
);
$link-color: $npp-orange;
$link-hover-color: $npp-orange;

// override nav-folder-menu defaults
$nav-folder-menu-font-color: #566638; // solid color of navbar subtitle
$nav-folder-menu-hover-bg-color: #566638; // solid color of navbar subtitle
$nav-folder-menu-dot-color: #566638; // solid color of navbar subtitle
$nav-folder-menu-current-font-color: #11140b; // solid color of navbar title

@import "bootstrap";
@import "menu-icon";
@import "nav-folder-menu";
@import "sticky-footer";


// quick fix #todo
// =========

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align: center;
}

.below-header-fix {
	margin-top: 4rem;
}

.navbar-row {
	position: relative;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}


// site styles
// ===========

#navbar-toggle {
	&-action {
		cursor: pointer;
	}
}

.sticky-sidebar {
	position: sticky;
	top: 6rem;
}

.site-footer {
	background-color: #6b5000;
	color: wheat;
	p {
		margin-bottom: 0;
		font-size: .8rem;
	}
	.nav {
		margin-bottom: .6rem;
		text-align: center;
	}
	.nav-item + .nav-item {
		// margin-left: 1rem;
		:before {
			content: "|";
			color: wheat;
			margin: .5rem;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	body {
		border: 6px solid $npp-green;
	}
}
