<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
	<div class="wrapper bg-light">

		{% include header.html %}

		<div class="container-fluid">
			<div class="row">

				<div class="col-md-3 d-none d-lg-block pt-3">
					{% include nav.html home_position='top' %}
				</div>

				<div class="col-12 col-lg-9">
					<main aria-label="Content">
						<div class="container pt-4">
							{{ content }}
						</div>
					</main>
				</div>

			</div>

			<div class="row">
				<div class="col d-lg-none">
					<div class="container">
						{% include nav.html home_position='bottom' %}
					</div>
				</div>
			</div>

		</div>

		{% include footer.html %}

	</div>
</body>

</html>
